@charset "UTF-8";
*{
    border: none;
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    /* background: url(imagens/fundo.jpg), linear-gradient(to top, rgba(255, 255, 255, 0.411),transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    min-height: 100%;
    width: 100%;
    min-height: fill-available;
    z-index: 0;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Configurando o pattern de grid animado */
#hex-grid{
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: absolute;
}

#hexGrid > .grid{
  position: absolute;
  top: 0;
  left: 0;
  background: url(imagens/grid.svg);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: 500px;
  z-index: 0;
}

#hexGrid > .light{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 15em;
  height: 15em;
  filter: blur(15px);
  background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100% );
  z-index: 0;
}
div.timer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border: 2px solid black;
    position: absolute;
    top: 100px;
    border-radius: 5px;
    color: white;
    background: gray;
    z-index: 10;
}

p{
    font-size: 2rem;
    z-index: 10;
}

.alvo{
    background: url(imagens/alvo.png);
    background-position: center center;
    background-size: cover;
    transform-origin: center center;
    position: absolute;
    animation: girar 1s infinite linear alternate-reverse;
    z-index: 100;
}
@keyframes girar {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.alvoErro{
    background: url(imagens/alvoErro.png);
    background-position: center center;
    background-size: cover;
    transform-origin: center center;
    position: absolute;
    animation: girar 1s infinite linear ;
}
.alvoBonus{
    background: url(imagens/alvoBonus.png);
    background-position: center center;
    background-size: cover;
    transform-origin: center center;
    position: absolute;
    animation: girar 1s infinite linear ;
}
.pts{
  font-size: 3rem;
  padding: 10px;
  position: absolute;
}

.container{
    width: 100%;
    min-height: 80%;
    /* min-height: fill-available; */
    overflow: hidden;
    position: relative;
    z-index: 0;
}

@media screen and (min-width:800px) {
  .container{
    width: 80%;
    min-height: 80%;
    /* min-height: fill-available; */
    overflow: hidden;
    position: relative;
    z-index: 0;
}
}

div.popup{
    width: calc(80% - 20px);
    height: calc(80% - 20px);
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(15px);
    z-index: 1000;
    overflow: hidden;
}

div.popup > p#score{
    font-size: 3rem;
    z-index: 1;
}

/* button{
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 5px;
} */

button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background: #333;
    border: none;
    color: #fff;
    margin: 5px;
    z-index: 1;
  }
  
  button:hover {
    letter-spacing: 0.25em;
    background: #ff1867;
    color: #ff1867;
    box-shadow: 0 0 45px #ff1867;
  }
  
  button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: '';
    position: absolute;
    border: 2px solid #ff1867;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  button:hover i::before {
    width: 20px;
    left: 20%;
  }
  
  button i::after {
    content: '';
    position: absolute;
    border: 2px solid #ff1867;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  button:hover i::after {
    width: 20px;
    left: 80%;
  }

  button#btnFacil:hover {
    letter-spacing: 0.25em;
    background: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    box-shadow: 0 0 45px ;
  }

  button#btnFacil i::before {
    border: 2px solid rgb(0, 255, 0);;
  }
  
  button#btnFacil i::after {
    border: 2px solid rgb(0, 255, 0);;
  }

  button#btnMedio:hover {
    letter-spacing: 0.25em;
    background: rgb(229, 255, 0);
    color: rgb(229, 255, 0);
    box-shadow: 0 0 45px ;
  }

  button#btnMedio i::before {
    border: 2px solid rgb(229, 255, 0);
  }
  
  button#btnMedio i::after {
    border: 2px solid rgb(229, 255, 0);
  }

  button#btnInfinito:hover {
    letter-spacing: 0.25em;
    background: #ff1867;
    color: #ff1867;
    box-shadow: 0 0 45px ;
  }

  button#btnInfinito i::before {
    border: 2px solid #ff1867;
    width: 20%
  }
  
  button#btnInfinito i::after {
    border: 2px solid #ff1867;
    width: 20%
  }

